---
interface Props {
	title: string;
    extraCss?: string;
}

const { title, extraCss } = Astro.props;
---
<section class={`${extraCss}`}>
    <div class={`mx-auto max-w-7xl px-6 py-16 sm:py-20`}>
        <div class="w-full">
            <h2 data-aos="fade-in" class="text-center text-4xl font-bold">{title}</h2>
        </div>
        <div class="mx-auto mt-12">
            <slot />
        </div>
    </div>
</section>